<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cadastro de Usuário</title>
    <link type="text/css" rel="stylesheet" href="/intro-spring-thymeleaf/static/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="navbar-form navbar-left">
                <a class="btn btn-default" href="/intro-spring-thymeleaf/usuario/todos">Home</a>
                <a class="btn btn-default" href="/intro-spring-thymeleaf/usuario/cadastro">Novo Usuário</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <h1>Cadastro de Usuários</h1>
        <hr>
        <div>
            <form action="/intro-spring-thymeleaf/usuario/save" method="post">
                <input type="hidden" id="id" name="id" value=""/>
                <div class="form-group">
                    <label for="nome">Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" value=""/>

                </div>
                <div class="form-group">
                    <label for="sobrenome">Sobrenome: </label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" value=""/>

                </div>
                <div class="form-group">
                    <label for="dtNascimento">Data de Nascimento: </label>
                    <input type="date" class="form-control" id="dtNascimento" name="dtNascimento" value=""/>

                </div>
                <div class="form-group">
                    <label for="sexo">Sexo: </label>
                    <select class="form-control" id="sexo" name="sexo">
                        <option value="F">F</option>
                        <option value="M">M</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2018 DevMedia</span>
        </div>
    </footer>
</body>
</html>